<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FILMSEARCH{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <div class="header">
        FILMSEARCH - Найди свой фильм!
    </div>

    {% if not is_search_page %}
    <div class="nav-bar">
        <a href="/" class="main-button">Главная</a>
    </div>


    {% endif %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <div class="footer">
        <p>&copy; 2025 FILMSEARCH. Все права защищены.</p>
    </div>

</body>
</html>


